body, html {
	overflow-y: hidden;
	overflow-x: hidden;

}



.page {
	position: relative;

	top: 5em;
	left: 21.5em;

	width: 76.5em;
	height: 54.5em;

	background-color: #414244;
}


.hide {
	display: none;
}

.show {
	display: block;
}

#page-basics img {
	position: absolute;

	height: 7em;
	width: 7em;

	top: 2em;
	left: 3.5em;
}

#menu {
	position: relative;

	width: 10.5em;
	height: 30em;

	margin: 1px 8px;

	top: 17.4em;
}


#boutonStyle1 {
	padding: 8px;
	border: 1px #FFF solid;
	color: #FFF;
	background-color: #c1512c;
	width: 10em;
	height: 3.5em;
	margin: 8px;

	position: relative;
	left: 2em;
}

 #boutonStyle1:hover {
	background-color: #3a7db7;
	cursor: pointer;
}


#separator {
	position: relative;
	background-color: #FFF;
	width: 0.5em;
	height: 54.5em;

	top: -41em;
	left: 16em;
}

.page #menu #research {
	position: relative;

	top: -92.2em;
	left: 21em;

	color: #FFF;

	width: 30em;
	height: 2em;
}








#home #stats {
	/*border: 1px #fff solid;*/

	height: 26.6em;
	width: 51.5em;

	position: relative;

	top: -14em;
	left: 21.5em;

	display: inline-block;
}

div.statsBlock {
	margin: 1.5% 3%;
	position: relative;
	float: left;
}

#home #stats #kills {
	background-image: url("../img/death.png");
	background-repeat: no-repeat;
	background-size: 100%;

	height: 44%;
	width: 44%;

}


#home #stats #kills h3 {
	font-size: 4em;

	position: relative;
	top: 10%;
}


#home #stats #PoliceVehicles {
	background-image: url("../img/stollen_police_vehicles.png");
	background-repeat: no-repeat;
	background-size: 100%;

	height: 44%;
	width: 44%;
}



#home #stats #blVehicules {
	background-image: url("../img/blVehicles.png");
	background-repeat: no-repeat;
	background-size: 100%;

	height: 44%;
	width: 44%;
}

#home #stats #blWeapons {
	background-image: url("../img/blWeapons.png");
	background-repeat: no-repeat;
	background-size: 100%;

	height: 44%;
	width: 44%;
}


#sTitle {
	color: white;
	font-size: 6em;

	position: relative;
	top: 10%;
	text-align: center;

	text-shadow:
   		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		 1px 1px 0 #000;
}



#sDesc {
	color: white;
	font-size: 2em;

	position: relative;
	top: 20%;	
	text-align: center;

	text-shadow:
   		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		 1px 1px 0 #000;
}



#container {
	overflow: auto;

	height: 36.6em;
	width: 51.5em;

	position: relative;

	top: -20.5em;
	left: 21.5em;

	display: inline-block;

	background-color: #FFF;
}



.listElem{
	cursor: pointer;
}



#sContainerConnexions {
	overflow: auto;
	height: 20%;
	width: 51.5em;

	background-color: #FFF;

	position: relative;
	top: -22.5em;
	left: 21.5em;
}



#sContainerKills {
	overflow: auto;
	height: 20%;
	width: 51.5em;

	background-color: #FFF;

	position: relative;
	top: -22.0em;
	left: 21.5em;
}


#sContainerVehicules {
	overflow: auto;
	height: 20%;
	width: 51.5em;

	background-color: #FFF;

	position: relative;
	top: -21.5em;
	left: 21.5em;
}


#sContainerblWeapons {
	overflow: auto;
	height: 20%;
	width: 51.5em;

	background-color: #FFF;

	position: relative;
	top: -21.0em;
	left: 21.5em;
}












#indications {
	color: white;

	position: absolute;
	top: 52em;
	left: 1em;
}











.content {
  position: absolute;
  top: 7em;
  left: 7.5em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container:before {
  content: '[';
  left: 25px;
}
.content__container:after {
  content: ']';
  position: absolute;
  right: 25px;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin-top: 5px;
}
.content__container__list {
  margin-top: 5px;
  padding-left: 50px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}




.input-wrapper {
  position: relative;
  width: 500px;
  margin: 50px auto;
}

.input-highlight {
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 70px;
  border-top: 3px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: 0;
  color: transparent;
  font-family: Roboto Slab, sans-serif;
  overflow: hidden;
}

input {
  height: 30px;
  width: 56%;
  min-width: 100%;
  padding: 0;
  border-radius: 0;
  line-height: 70px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333;
  font-family: Roboto Slab, sans-serif;
}
input:focus + .input-highlight {
  border-top: 3px solid #fbc91b;
}












#bStyle1 {
  font-family: 'Space Mono', monospace;
  letter-spacing: 1px;
  background: none;
  color: white;
  position: relative;
  outline: none;
  border: none;
  height: 50px;
  width: 190px;
  font-size: 14px;
  z-index: 2;
  -webkit-transition: .01s .23s ease-out all;
  transition: .01s .23s ease-out all;
  overflow: hidden;
}
#bStyle1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #202020;
  z-index: -1;
  -webkit-transition: .3s ease-in all;
  transition: .3s ease-in all;
}
#bStyle1:after {
  content: '';
  position: absolute;
  left: -5%;
  top: 5%;
  height: 90%;
  width: 5%;
  background: white;
  z-index: -1;
  -webkit-transition: .4s .02s ease-in all;
  transition: .4s .02s ease-in all;
}
#bStyle1:hover {
  cursor: pointer;
  color: transparent;
}
#bStyle1:hover:before {
  left: 100%;
  width: 25%;
}
#bStyle1:hover:after {
  left: 100%;
  width: 70%;
}
#bStyle1:hover .icon-right.after:after {
  left: -80px;
  color: white;
  -webkit-transition: .2s .2s ease all;
  transition: .2s .2s ease all;
}
#bStyle1:hover .icon-right.after:before {
  left: -104px;
  top: 14px;
  opacity: 0.2;
  color: white;
}

.icon-right {
  position: absolute;
  top: 0;
  right: 0;
}
.icon-right:after {
  font-family: "FontAwesome";
  content: '\2192';
  font-size: 24px;
  display: inline-block;
  position: relative;
  top: 26px;
  -webkit-transform: translate3D(0, -50%, 0);
          transform: translate3D(0, -50%, 0);
}
.icon-right.after:after {
  left: -250px;
  color: black;
  -webkit-transition: .15s .25s ease left, .5s .05s ease color;
  transition: .15s .25s ease left, .5s .05s ease color;
}
.icon-right.after:before {
  content: attr(after);;
  position: absolute;
  left: -230px;
  top: 14px;
  opacity: 0;
  -webkit-transition: .2s ease-in all;
  transition: .2s ease-in all;
}









.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #202020;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #e06228;
}

.searchTerm:focus{
  color: #FFF;
}

.searchButton {
  position: absolute;  
  right: -30px;
  width: 40px;
  height: 36px;
  border: 1px solid #202020;
  background: #202020;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




#close {
  background-color: #af5449;
  font-size: 1.5em;
  position: absolute;
  left: 5%;
  top: 0%;
  color: white;
  width:5em;
  text-align: center;
  height: 1.2em;
}