/*
    esx_ladderhud
    Copyright C 2018  MarmotaGit
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    at your option any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.container-fluid {
    position: absolute;
    padding: 0;
    margin: 0;
    display: inline-block;
    right: 70vw;
    bottom: 2vw;
    transition: left 1.0s;
}

.container {
    display: inline-block;
}

#circle-hunger {
    position: absolute;
    bottom: 2.4vw;
    left: -11.1vw;
    background-image: url("https://i.imgur.com/gHgHins.png");
    border: 0.1vw rgb(151, 61, 0) solid;
    height: 2.2vw;
    width: 2.2vw;
    background-color: #da6608;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 2vw 2vw;
    background-position: center;
}
#circle-thirst {
    position: absolute;
    bottom: 5vw;
    left: -11.1vw;
    background-image: url("https://i.imgur.com/sLJ55gZ.png");
    border: 0.1vw rgb(27, 76, 235) solid;
    margin-right: 8vw;
    height: 2.2vw;
    width: 2.2vw;
    background-color: rgb(0, 110, 255);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 2vw 2vw;
    background-position: center;
}
.progress {
    position: absolute;
    z-index: -1;
    height: 0.9vw;
    width: 9vw;
    border-radius: 0.5vw;
    background-color: #2e2e2f;
}
#progress-hunger {
    margin-top: -3.1vw;
    margin-right: 1.8vw;
    border-radius: 0.5vw;
    border: 0.1vw rgb(151, 61, 0) solid;
    right: 0.4vw;
}

#progress-thirst {
    margin-left: -11.2vw;
    margin-top: -5.7vw;
    border: 0.1vw rgb(27, 76, 235) solid;

}
.field {
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100%;
    border-radius: 0.5vw;
    transition: width 1.0s;
}
#hunger {
    float: left;
    vertical-align: center;
    background-color: #E67E22;
}
#thirst {
    float: left;
    background-color: #3498DB ;
}
